In [1]:
import pandas as pd

In [2]:
cdf = pd.DataFrame(pd.read_csv('data/campaign_data.csv'))
#campaign_id 	Unique id for a discount campaign

In [10]:
print(cdf.shape)
print(cdf.dtypes)
cdf.head()

(28, 4)
campaign_id       int64
campaign_type    object
start_date       object
end_date         object
dtype: object

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

In [12]:
cdf['sdate'] = pd.to_datetime(cdf['start_date'], format='%d/%m/%y', dayfirst=True)
cdf['edate'] = pd.to_datetime(cdf['end_date'], format='%d/%m/%y', dayfirst=True)
cdf.head()

   campaign_id campaign_type start_date  end_date      sdate      edate
0           24             Y   21/10/13  20/12/13 2013-10-21 2013-12-20
1           25             Y   21/10/13  22/11/13 2013-10-21 2013-11-22
2           20             Y   07/09/13  16/11/13 2013-09-07 2013-11-16
3           23             Y   08/10/13  15/11/13 2013-10-08 2013-11-15
4           21             Y   16/09/13  18/10/13 2013-09-16 2013-10-18

In [13]:
cdf['date_diff'] = (cdf['edate'] - cdf['sdate']).dt.days
cdf.head()

,campaign_id,campaign_type,start_date,end_date,sdate,edate,date_diff
0,24,Y,21/10/13,20/12/13,2013-10-21,2013-12-20,60
1,25,Y,21/10/13,22/11/13,2013-10-21,2013-11-22,32
2,20,Y,07/09/13,16/11/13,2013-09-07,2013-11-16,70
3,23,Y,08/10/13,15/11/13,2013-10-08,2013-11-15,38
4,21,Y,16/09/13,18/10/13,2013-09-16,2013-10-18,32

In [14]:
cdf.to_csv('updated-data/updated_campaign_data.csv', columns={'campaign_id','campaign_type','date_diff'}, index=False)